<div class="user-table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Company Name</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" #name (keyup)="searchByName(name.value)"></td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>

            <ng-container *ngFor="let item of userlist">
                <tr [ngClass]="{'spl-role': item?.company?.designation =='angular Developer'}">
                    <td>{{item?.name}}</td>
                    <td>{{item?.company?.name}}</td>
                    <td>{{item?.company?.designation}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
